db.sqlite3
.idea
./gitignore
__pycache__
/venv/
/env/
/data/
/db.sqlite3-journal
*.sqlite3
*.env
*.csv
*.log
*.txt
/copy_files/
/control/temp.py
/control/addrboook.py
/.coverage
/reports/report.xml
/coverage-report/coverage.xml
*.djcache
